/* calculation section styles */
.calculation-section{
    
    background-color: rgba(155, 252, 98, 0.137);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.815);
}
.calculation-section h5{
    font-weight: 600;
    font-size: 20px;
}

.calculation-section span{
    color: rgb(52, 146, 8);
    font-weight: 700;
}

.calculation-section input{
    background-color: rgba(164, 253, 146, 0.418);
    border: none;
    border-radius: 2px;
    margin-left: 5px;
    height: 48px;
    padding: 10px;
}

.calculation-section button{
    background-color: rgb(41, 160, 31);
    border: 0;
    border-radius: 3px;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#saving-percentage{
    width: 100px;
    text-align: center;
}
