/* calculation section styles */
.calculation-section{
    background-color: rgba(78, 182, 252, 0.089);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.815);
}
.calculation-section h5{
    font-weight: 600;
    font-size: 20px;
}

.calculation-section span{
    color: rgb(4, 155, 255);
}

.calculation-section input{
    background-color: rgba(139, 208, 247, 0.479);
    border: none;
    border-radius: 2px;
    margin-left: 5px;
    height: 35px;
    padding: 10px;
}

.calculation-section button{
    background-color: rgba(15, 157, 252, 0.767);
    border: 0;
    border-radius: 3px;
    padding: 10px 40px;
    color: white;
    font-weight: bold;
}

#saving-percentage{
    width: 100px;
    text-align: center;
}
